:root {
  --hf: #68a691;
  --box: #bfd3c1;
  --bg: #ffe5d4;
  --txt: #efc7c2;
}

body {
  font-family: optima;
  font-size: 20px;
  background-color: var(--bg);
  padding: 10px;
}

h1, h2 {
  font-family: optima;
}

/* Header */
.jumbotron {
  background-color: var(--hf);
  text-align: center;
}

/* Pulled from pseudo classes assignment */
 div.samples ul {
  display: none;
}

div.samples:hover {
  cursor: pointer;
}

div.samples:hover ul {
  display: block;
}

/* Main Body */
.flex-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

aside {
  flex: 1 1 auto;
  background-color: var(--box);
  border: 3px solid var(--hf);
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 25%;
  height: 100%;
}

section {
  flex: 1 1 auto;
  background-color: var(--box);
  border: 3px solid var(--hf);
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 25%;
  height: 100%;
}

/* Footer */
footer {
  padding: 50px;
  width: 100%;
  display: block;
  background-color: var(--hf);
  text-align: center;
}

